<h1 id="tableLabel">Persons</h1>

<p *ngIf="!person"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="person">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMR</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of person">
      <td>{{s.name}}</td>
      <td>{{s.age}}</td>
      <td>{{s.height}}</td>
      <td>{{s.weight}}</td>
      <td>{{s.bmr}}</td>
    </tr>
  </tbody>
</table>