<h1>BMR</h1>

<p>This page is for counting your basal metabolic rate.</p>

{{ bmr }}
<br>

Gender
<input [(ngModel)]="newPerson.Gender" name="gender">

Age
<input [(ngModel)]="newPerson.Age" name="age">

Weight
<input [(ngModel)]="newPerson.Weight" name="weight">

Height
<input [(ngModel)]="newPerson.Height" name="height">

{{ values }}
<html>
    <head>
        <title> BMR Calculator </title>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
        </script>
    </head>
    <h2>Please enter your weight</h2>
  <input type ="number" name="num1">
  <h2>Please enter your height</h2>
  <input type="number" name="num2">
  <h2>Please enter your age</h2>
  <input type ="number" name="numb3">
  <button>Calculate</button>
    </body>
</html>