<h1>Hello, There!</h1>
<p>This is a web application designed for calculating your BMR or basal metabolic rate which is the number of calories one can consume per day to maintain their current weight. Based on the bmr the person can choose to eat less or more to attain their goal weight. 
    We are going to use the Mifflin-St Jeor Equation:
    All credit from this equation is given to those scientists.</p>

    <h6>The Equation (for men) is: BMR = 10W + 6.25 H - 5A + 5</h6>

   
    <P></P>
    <P></P>
    <p>W is the persons weight in kilograms
    H is the persons body height in centimeters
    A is the Age in years
    </p>
  
    <p>Since we are in the United States we need to know the formula for converting pounds into kilograms
    and the formula for converting feet into centimeters. 
    There are 2.2 pounds in 1 kilograms, and there are 30.48 centimeters in 1 foot.
    </p>
