<h1>Hello, There!</h1>
<p>This is a web application designed for calculating your BMR or basal metabolic rate which is the number of calories one can consume per day to maintain their current weight. Based on the bmr the person can choose to eat less or more to attain their goal weight. 
    We are going to use the Mifflin-St Jeor Equation:
    All credit from this equation is given to those scientists.</p>

    <h6>The Equation (for men) is: BMR = (4.536 × weight in pounds) + (15.88 × height in inches) − (5 × age) + 5</h6>

   
