<body>
    <app-nav-menu></app-nav-menu>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
  <table mat-table [dataSource]="PLAYER_DATA" class='mat-elevation-z8' width='90%' height='90%'>

    <!--- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <!-- Name Column-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <!-- Age Column-->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
    </ng-container>
    
    <!-- Number Weight-->
    <ng-container matColumnDef='number'>
      <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.Weight}}</td>
    </ng-container>
    
    <!-- Number Height-->
    <ng-container matColumnDef='height'>
      <th mat-header-cell *matHeaderCellDef> Height </th>
    <td mat-cell *matCellDef="let element"> {{element.Height}}</td>
    </ng-container>

    <!-- Number BMR-->
    <ng-container matColumnDef='bmr'>
      <th mat-header-cell *matHeaderCellDef> Bmr </th>
    <td mat-cell *matCellDef="let element"> {{element.bmr}}</td>
    </ng-container>
    
    
    <!-- Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    