<form>
  <div class="form-group">
    <label>Please enter your Name:</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label>Please enter your Age in years:</label>
    <input type="number" name="age" class="form-control" [(ngModel)]="newBmr.Age">
  </div>
  <div class="form-group">
    <label>Please enter your Weight in Kilograms: (Pounds divided by 2.2)</label>
    <input type="number" name="weight" class="form-control" [(ngModel)]="newBmr.Weight">
  </div>
  <div class="form-group">
    <label>Please enter your Height in centimeters: (take your height in feet and multiply by 30.48 take your inches and multiply by 2.54 and add to the first multiplication)</label>
    <input type="number" name="height" class="form-control" [(ngModel)]="newBmr.Height">
  </div>
  <button class="btn btn-primary" (click)="calculate()">Calculate</button>
  <div class="mt-4 mb-4">
    <h3>Your BMR is: {{result}}</h3>
  </div>
  <button class="btn btn-secondary" [disabled]="Name === undefined">Save</button>
</form>