
<div>
Pleae enter your Age in years:
<input [(ngModel)]="newBmr.Age" name="Age" type = "number" />
<br>
Please enter your Weight in kilograms:
<input [(ngModel)]="newBmr.Weight" name="Weight" type ="number" />
<br>
Please enter your Height in centimeters
<input [(ngModel)]="newBmr.Height" name ="Height" type ="number" />
<br>

<button (click)="calculate()">Calculate</button>
<p> your BMR is: {{result}}</p>
</div>
<h6> Congratulations! Now click on the "Persons" tab to enter in your information to our database!</h6>