

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Please enter your Name:</label>
        <input type="string" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Please enter your Age in years:</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
  
      <div class="form-group">
        <label for="exampleInputEmail1">Please enter your Weight in Kilograms: (Pounds divided by 2.2)</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Please enter your Height in centimeters: (for example if you are 6 feet 6 inches tall, multiply the 6 feet times 12 to get inches then multiply that by 2.54 to get it in centimeters plus the 6 inches multiplied by 2.54 cm and add that to previous centimeter calculation)</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
    <button (click)="calculate()">Calculate</button>
    <p> your BMR is: {{result}}</p>
    <button> Save</button>
  </form> 
<!-- <div>
Pleae enter your Age in years:
<input [(ngModel)]="newBmr.Age" name="Age" type = "number" />
<br>
Please enter your Weight in kilograms:
<input [(ngModel)]="newBmr.Weight" name="Weight" type ="number" />
<br>
Please enter your Height in centimeters
<input [(ngModel)]="newBmr.Height" name ="Height" type ="number" />
<br>

<button (click)="calculate()">Calculate</button>
<p> your BMR is: {{result}}</p>
</div>
<h6> Congratulations! Now click on the "My BMRs" tab to enter in your information to our database!</h6>  -->
